Source: mmc-core
Section: admin
Priority: extra
Maintainer: Adam Cécile <acecile@mandriva.com>
Build-Depends: debhelper (>= 9), lsb-release, python3-all, dh-python, gettext, autotools-dev
Standards-Version: 4.0.0
Homepage: http://mds.mandriva.org

Package: python3-mmc-core
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-twisted
Replaces: python-mmc-core
Conflicts: python-mmc-core
Suggests: python3-sqlalchemy (>= 0.5), python3-mysqldb (>= 1.2.2-7)
Description: Core shared dependency for MMC API
 Contains base functions used by MMC.

Package: python3-mmc-base
Architecture: all
Section: python
Pre-depends: python3-mmc-core (= ${source:Version})
Depends: ${misc:Depends}, ${python3:Depends}, python3-ldap
Replaces: python-mmc-base
Conflicts: python-mmc-base
Description: Mandriva Management Console base plugin
 Contains the base infrastructure for all MMC plugins:
  * support classes
  * base LDAP management classes

Package: python3-mmc-ppolicy
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-mmc-base (= ${source:Version})
Replaces: python-mmc-ppolicy
Conflicts: python-mmc-ppolicy
Suggests: mmc-check-password
Description: Mandriva Management Console password policy plugin
 Contains password policy plugin to enforce minimum password security in MMC.

Package: python3-mmc-dashboard
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-mmc-base (= ${source:Version}), python3-psutil (>= 0.6.1)
Replaces: python-mmc-dashboard
Conflicts: python-mmc-dashboard
Description: Mandriva Management Console dashboard plugin
 Provides a simple dashboard in MMC.

Package: python3-mmc-services
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-mmc-base (= ${source:Version}), python3-systemd-dbus (>= 0.1), systemd
Replaces: python-mmc-services
Conflicts: python-mmc-services
Description: Mandriva Management Console systemd services plugin
 Handles system services through systemd.

Package: python3-mmc-database
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-mmc-base (= ${source:Version}), python3-sqlalchemy (>= 0.7), python3-mysqldb 
Replaces: python-mmc-database
Conflicts: python-mmc-database
Description: Mandriva Management Console database common files
 Allow the use of SQL databases within MMC framework.

Package: python3-mmc-report
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-mmc-base (= ${source:Version}), python3-mmc-database (= ${source:Version}), python3-pygal, python3-weasyprint, python3-xlwt
Replaces: python-mmc-report
Conflicts: python-mmc-report
Description: Generate reports within MMC framework
 Module to generate reports for other modules.

Package: mmc-agent
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-mmc-base (= ${source:Version}), python3-openssl | python3-pyopenssl, python3 | python3-multiprocessing, ldap-utils
Description: Mandriva Management Console Agent
 XMLRPC server of the MMC API.

Package: mmc-web-base
Architecture: all
Depends: ${misc:Depends}
Recommends: libapache2-mod-php | libapache2-mod-php7.0 | libapache2-mod-php5, php-xmlrpc | php7.0-xmlrpc | php5-xmlrpc, php-gd | php7.0-gd | php5-gd, apache2 | apache2-mpm-prefork, wwwconfig-common
Description: MMC web interface to interact with a MMC agent
 Mandriva Management Console web interface designed by Mandriva.

Package: mmc-web-ppolicy
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Password policy module for Mandriva MMC
 Module to enforce minimum password security in MMC.

Package: mmc-web-dashboard
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Dashboard module for Mandriva MMC
 Dashboard module in MMC.

Package: mmc-web-services
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Systemd module for Mandriva MMC
 Systemd service management module for MMC.

Package: mmc-web-report
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Generate reports within MMC framework
 Module to generate reports for other modules.
